/* top banner */
.top_banner {
  background-image: url(../images/aboutus/bg_feature_work1.jpg);
  background-repeat: no-repeat;
}
.h_slash{
  position: relative;
}
.h_slash::before {
  content: "/";
  position: absolute;
  top: 0;
  margin:0;
  font-weight: 400;
}
.top_banner a:hover {
  color: #d55640 !important;
}

/* about_main */
.about_main .abt_content {
  text-align: justify;
  font-size: 16px !important;
  color: #727472;
}
.arrow_owl {
  opacity: 0.5 !important;
  transition: all 0.2s ease-in-out;
}
.img_hover_black {
  opacity: 0;
  background-color: #000000;
  position: absolute;
  inset: 0;
}
.img_hover_black:hover {
  opacity: 0.5;
}
.item:hover img {
  transform: scale(1.1);
}

/* ---- related services ---- */

.related_services {
  background-color: #f37f1c;
}
.related_services .btn {
  font-size: 15px;
  padding: 12px 25px;
  background-color: #126c3c;
  border: none;
}
.related_services .btn:hover {
  color: #fff;
}
.related_services .btn:focus {
  background-color: #126c3c;
}
