*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    transition: 0.2s !important;
    scroll-behavior: smooth;
    /* border: 1px solid #000; */
}

body{
    margin: 0;
    padding: 0;
}

header .img_box img{
    height: 70px;
}

header .nav_links li{
    height: 70px;
}

header .nav_links li .page_link{
    font-size: 14px;
    text-decoration: none;
    padding-top: 24px;
    color: #000;
}
header .nav_links li .page_link:after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-bottom: 8px;
}
header .nav_links li .active{
    color: #d54900 !important;
}
header .nav_links li .active:after{
    background: #d54900 !important;
}
header .nav_links li:hover .page_link{
    color: #d54900 !important;
}
header .nav_links li:hover .page_link:after{
    background: #d54900 !important;
}

header .projects_list{
    display: none;
    position: absolute;
    top: 60px;
    width: 210px;
    background: #f9f9f9;
 
    transform: translateX(-33%);
   
}
header .projects_link:hover .projects_list{
    display: inline-block;

}
header .projects_list li{
    height: auto;

}
header .projects_list li a{
  text-decoration: none;
  color: #000;
}
header .projects_list li:hover{
   background-color: #d54900;
}
header .projects_list li:hover a{
   color: #fff !important;
}
header .menu_nav_list_items{
    left: 8px;
    top: 67px;
    right: 8px;
    color: #fff;
    background: #000;
    z-index: 99;
}
header .menu_nav_list_items_ul li{
    height: 38px;
}




.footer{
    margin-top: 30px;
}

.footer.text-justify{
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
 }
.footer .nav-link{
    font-size: 14px;
}
.footer li{
    color: whitesmoke;
}
.textcolor{
    color: whitesmoke;
}
.footer .fa-solid{
    font-size: 10px;
}
.footer .hovercolor{
    color: rgb(200, 198, 198);
}
.footer .hovercolor{
    transition: 0.5s;
}
.footer .hovercolor:hover{
    color:orangered;
}