.bg_top1{
background-image: url(../images/services/bg_top1.jpg);
background-position:center;
background-size: cover;
padding: 20px;
height: 15vh;
width: 100%;
}
.home_slash{
    position: relative;
}
.home_slash::before{
    content: '/';
    position: absolute;
    top: 0;
    margin:0 4px;
    font-weight: 400;
}
.divider{
    margin: 10px 0px;
    height: 1px;
    width: 100%;
    background-color: #a2a2a2;
}
.active_txt{
    color:#d54900 !important;
}
.hover_a{
    color: black;
}
.hover_li:hover .hover_a,.hover_li:hover span{
    color:#d54900;
    cursor: pointer;
}

